@using ZA_PLACE.Helpers;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Meta Description -->
    <meta property="og:image" content="~/imgs/logo.png" />
    <link rel="icon" href="~/imgs/logo.png">
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="keywords" content="Learn, Maths, Mathmatics, Story, School, Homework, Learning, Education, fun" />
    <meta property="og:description"
          content="The best online, free mathmatics learning platform! Summit allows you to learn mathmatics whenever you
            want and wherever you are! Simply click Start learning to unlock a massive library off free education; Enjoy!" />

    <!-- Style Sheets -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/AdminDashboard.css" asp-append-version="true" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Title -->
    <title>@ViewData["Title"] - Za Place</title>
</head>
<body>
    <!-- Side Navbar -->
    <section class="SideNavbar">
        <div class="sideNavbarImg">
            <img src="~/Imgs/logo.png" alt="Logo" />
        </div>

        <ul class="NavbarSideIcons">
            <li><a href="#" class="active"><i class='bx bxs-home'></i> Dashboard</a></li>
            <li><a asp-controller="Courses" asp-action="Index"><i class='bx bx-book-open'></i> Courses</a></li>
            @if (User.IsInRole(clsRoles.roleAdmin))
            {
                <li><a asp-controller="User" asp-action="Index"><i class='bx bxs-user'></i> Users</a></li>
                <li><a asp-controller="News" asp-action="Index"><i class='bx bx-news'></i> News</a></li>
                <li><a asp-controller="Category" asp-action="Index"><i class='bx bxs-category'></i> Categories</a></li>
                <li><a asp-controller="Age" asp-action="Index"><i class='bx bxs-category'></i> Age</a></li>
            }
            <li><a asp-controller="Announcement" asp-action="Index"><i class='bx bx-book-open'></i> Announcement</a></li>
            <li><a asp-controller="Assignment" asp-action="Index"><i class='bx bx-book-open'></i> Assignments</a></li>
            <li><a asp-controller="Payment" asp-action="Index"><i class='bx bx-credit-card'></i> Payment</a></li>
            <li><a asp-controller="User" asp-action="ProfileByUserId"><i class='bx bxs-user-circle'></i> Profile</a></li>
        </ul>

        <a class="SignoutButton" asp-controller="Home" asp-action="Index">
            Sign-Out
        </a>
    </section>
    <!-- Bottom Navbar -->
    <section class="BottomNavbar">
        <li><a asp-controller="Courses" asp-action="Index" class="active"><i class='bx bxs-home'></i></a></li>
        <li><a asp-controller="Announcement" asp-action="Index"><i class='bx bx-book-open'></i></a></li>
        <li><a asp-controller="Assignment" asp-action="Index"><i class='bx bx-book-open'></i></a></li>
        <li><a asp-controller="Payment" asp-action="Index"><i class='bx bx-credit-card'></i></a></li>
        <li><a asp-controller="User" asp-action="ProfileByUserId"><i class='bx bxs-user-circle'></i></a></li>
    </section>
    <!-- Components -->
    <div class="components">
        @RenderBody()
    </div>
    <!-- Ignore Scripts section -->
    @RenderSection("Scripts", required: false)

    <!-- Bootstrap Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>
