* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: var(--section-bg-color);
}

section {
    padding: 45px 1%;
}
/* Section Side Navigation Bar */
.SideNavbar {
    width: 250px;
    height: 100%;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: var(--box-shadow);
}

    .SideNavbar .sideNavbarImg {
        width: 150px;
        border-bottom: 1px solid var(--second-color);
    }

        .SideNavbar .sideNavbarImg > img {
            max-width: 100%;
        }

    .SideNavbar .NavbarSideIcons {
        padding: 10px;
        width: 100%;
    }

        .SideNavbar .NavbarSideIcons > li > a {
            display: inline-block;
            width: 100%;
            border-radius: 7px;
            margin-top: 5px;
            padding: 10px;
            background: white;
            color: var(--main-color);
            text-decoration: none;
            font-weight: 500;
            font-size: 18px;
        }

            .SideNavbar .NavbarSideIcons > li > a.active {
                color: white;
                background-color: var(--main-color);
            }

            .SideNavbar .NavbarSideIcons > li > a:hover {
                border: 1px solid var(--main-color);
            }

    .SideNavbar a.SignoutButton {
        display: inline-flex;
        justify-content: center;
        background-color: var(--main-color);
        color: white;
        padding: 10px;
        width: 100%;
        border-radius: 7px;
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
    }

        .SideNavbar a.SignoutButton:hover {
            border: 1px solid var(--main-color);
            background-color: white;
            color: var(--main-color);
        }
/* Section Bottom Navigation Bar */
.BottomNavbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    background-color: white;
    padding: 0;
    display: none;
}

    .BottomNavbar > li > a {
        background-color: transparent;
        font-size: 55px;
        font-weight: 900;
        color: var(--main-color);
        padding: 20px;
        border-radius: 50%;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

        .BottomNavbar > li > a.active {
            background-color: var(--main-color);
            color: white;
        }

        .BottomNavbar > li > a:hover {
            border: 1px solid var(--main-color);
        }
/* media query */
@media (max-width: 1000px) {
    .SideNavbar {
        display: none;
    }

    .BottomNavbar {
        display: flex;
    }
}

@media (max-width: 550px) {
    .BottomNavbar > li > a {
        font-size: 45px;
    }
}

@media (max-width: 500px) {
    .BottomNavbar > li > a {
        font-size: 40px;
    }
}

@media (max-width: 450px) {
    .BottomNavbar > li > a {
        font-size: 35px;
    }
}

@media (max-width: 430px) {
    .BottomNavbar > li > a {
        font-size: 30px;
    }
}

@media (max-width: 400px) {
    .BottomNavbar > li > a {
        font-size: 25px;
    }
}

@media (max-width: 370px) {
    .BottomNavbar > li > a {
        font-size: 20px;
    }
}

@media (max-width: 350px) {
    .BottomNavbar > li > a {
        font-size: 25px;
        padding: 17px;
    }
}

@media (max-width: 330px) {
    .BottomNavbar > li > a {
        font-size: 25px;
        padding: 15px;
    }
}

@media (max-width: 320px) {
    .BottomNavbar > li > a {
        font-size: 25px;
        padding: 12px;
    }
}
/* components */
.components {
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 25px;
}

@media (max-width: 1000px) {
    .components {
        width: 100%;
        margin-left: 0;
        padding: 15px;
    }
}