@{
    ViewData["Title"] = "About Us";
}

<!-- parallax Section -->
<section class="parallax parallax-1" id="parallax">
    <div class="parallax-inner">
        <h1>Za-Place</h1>
        <h6>Where You Belong</h6>
    </div>
</section>
<!-- Section1 -->
<section class="Class" id="Class">
    <div class="center-text">
        <h5>
            Who We Are & What We Do
        </h5>
        <h2>Who We Are & What We Do</h2>
    </div>
    <div class="firstClass">
        <div class="classImg">
            <img src="~/imgs/6.png" alt="first img">
        </div>
        <div class="classText">
            <h6>Best Online Learning Platform</h6>
            <h2>Who We Are & What We Do</h2>
            <p>
                At Zaplace Education Center, we’re all about creating amazing educational experiences. 
                Our team is made up of passionate educators and curious minds, all focused on helping students grow and excel.
                We provide a variety of top-notch programs that cater to individual learning styles, creating a supportive 
                and inclusive environment where students can thrive academically and personally.
            </p>
        </div>
    </div>
</section>
<!-- Section2 -->
<section class="Class second" id="Class">
    <div class="center-text">
        <h5>
            How We Achieve Our Goals
        </h5>
        <h2>
            How We Achieve Our Goals
        </h2>
    </div>
    <div class="SecondClass">
        <div class="classImg">
            <img src="~/imgs/5.png" alt="first img">
        </div>
        <div class="classText">
            <h6>
                How We Achieve Our Goals
            </h6>
            <h2>Our Goals</h2>
            <p>
                We stay ahead by using innovative teaching methods, offering personalized learning through small classes, 
                and integrating technology to make learning more engaging and effective.
            </p>
        </div>
    </div>
</section>
<!-- Section3 -->
<section class="Class" id="Class">
    <div class="center-text">
        <h5>
            Our Policies & What Helps Us Excel
        </h5>
        <h2>Our Policies & What Helps Us Excel</h2>
    </div>
    <div class="ThirdClass">
        <div class="classImg">
            <img src="~/imgs/2.png" alt="first img">
        </div>
        <div class="classText">
            <h6>Our Policies & What Helps Us Excel</h6>
            <h2>Policies</h2>
            <p>
                We’re committed to honesty, inclusivity, and continuously improving our programs. 
                We also protect student privacy and meet all educational standards.
                To keep up our excellent work, we need dedicated teachers, cutting-edge resources, 
                ongoing staff training, strong partnerships, and feedback from our students. 
                We also invest in the latest educational tools and technology to stay ahead.
            </p>
        </div>
    </div>
</section>