@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- parallax Section -->
<section class="parallax parallax-4" id="parallax">
    <div class="parallax-inner">
        <h1>Contact Us</h1>
        <h6>Where You Belong</h6>
    </div>
</section>
<section class="map">
    <div class="center-text">
        <h5>Contact Us</h5>
        <h2>Reach Us at</h2>
    </div>
    <div class="mapContainer">
        <div class="mapImg">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3455.1336212392!2d31.473697675343324!3d30.004319374943808!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1458235dbd65bc27%3A0x86a21ba2e061e362!2z2YPZhdio2YjZhtivINin2YTYr9mB2KfYuSDYp9mE2YjYt9mG2Yo!5e0!3m2!1sen!2seg!4v1725980750282!5m2!1sen!2seg" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <div class="mapText">
            <h2>Reach Us at</h2>
            <p>Visit one of our agency locations or contact us today</p>
            <h4>Head Office</h4>
            <ul>
                <li><a href="#"><i class='bx bxl-facebook-circle'></i>Facebook</a></li>
                <li><a href="#"><i class='bx bxl-instagram-alt'></i>Instagram</a></li>
                <li><a href="#"><i class='bx bxl-twitter'></i>Twitter</a></li>
                <li><a href="#"><i class='bx bxl-whatsapp'></i>What'sapp</a></li>
            </ul>
        </div>
    </div>
</section>
<section class="email">
    <div class="center-text">
        <h5>Contact Us</h5>
        <h2>Get In Touch</h2>
    </div>
    <div class="emailContainer">
        <div class="emailImg">
            <img src="../imgs/GetInTouch.jpg" alt="GetInTouch">
        </div>
        <div class="emailText">
            <h2>Get In Touch</h2>
            <p>We love to Hear from You</p>
            <div class="mb-3">
                <label for="FullNameEmail" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="FullNameEmail" placeholder="Ex: Ahmed Ali">
            </div>
            <div class="mb-3">
                <label for="Personalemailrequest" class="form-label">Email address</label>
                <input type="email" class="form-control" id="Personalemailrequest" placeholder="name@example.com">
            </div>
            <div class="mb-3">
                <label for="Subject" class="form-label">Subject</label>
                <input type="text" class="form-control" id="Subject" placeholder="Enter The Subject">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
            </div>
        </div>
    </div>
</section>