@{
    ViewData["Title"] = "Instructor";
}

<!-- parallax Section -->
<section class="parallax parallax-2" id="parallax">
    <div class="parallax-inner">
        <h1>Instructor</h1>
        <h6>Where You Belong</h6>
    </div>
</section>
<!-- Section1 -->
<section class="Class" id="Class">
    <div class="center-text">
        <h5>Teachers</h5>
        <h2>Teachers</h2>
    </div>
    <div class="firstClass">
        <div class="classImg Inst-Img">
            <img src="~/imgs/Instruc-2.jpg" alt="first img">
        </div>
        <div class="classText">
            <h6>Best Online Learning Platform</h6>
            <h2>Insturctor</h2>
            <p>
                Our students want to learn from qualified educators like you. All you need is your expertise, a device, and a wifi connection.
                Which online tutoring level are you looking for?
                Learn from the best teachers. Connect with an experienced teacher with expertise in the subject you need.
            </p>
        </div>
    </div>
</section>
<!-- Section2 -->
<section class="Class second" id="Class">
    <div class="center-text">
        <h5>The classroom</h5>
        <h2>The classroom</h2>
    </div>
    <div class="SecondClass">
        <div class="classImg">
            <img src="~/imgs/Instruc-3.jpg" alt="first img">
        </div>
        <div class="classText">
            <h6>Best Online Learning Platform</h6>
            <h2>The classroom</h2>
            <p>
                With features such as video conferencing, online chat, screen sharing, an interactive whiteboard, 
                and Google Drive, our online classroom simulates the face-to-face tutoring experience while removing 
                geographical limits and adding features only possible in an online environment.
            </p>
        </div>
    </div>
</section>
<!-- Section3 -->
@* <section class="Class" id="Class">
    <div class="center-text">
        <h5>Section 3</h5>
        <h2>Section 3</h2>
    </div>
    <div class="ThirdClass">
        <div class="classImg">
            <img src=".~/imgs/Instruc-1.jpg" alt="first img">
        </div>
        <div class="classText">
            <h6>Best Online Learning Platform</h6>
            <h2>Insturctor</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis natus quis cum, nesciunt doloribus
                nemo officia quae placeat vero ullam dicta voluptatem qui rerum velit ut maiores impedit corporis
                nisi!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis natus quis cum, nesciunt doloribus
                nemo officia quae placeat vero ullam dicta voluptatem qui rerum velit ut maiores impedit corporis
                nisi!
            </p>
        </div>
    </div>
</section> *@