@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!-- parallax Section -->
<section class="parallax parallax-3" id="parallax">
    <div class="parallax-inner">
        <h1>Student</h1>
        <h6>Where You Belong</h6>
    </div>
</section>
<!-- Section1 -->
<section class="Class" id="Class">
    <div class="center-text">
        <h5>Students</h5>
        <h2>Students</h2>
    </div>
    <div class="firstClass">
        <div class="classImg">
            <img src="~/imgs/Student1.jpg" alt="first img">
        </div>
        <div class="classText">
            <h6>Best Online Learning Platform</h6>
            <h2>Our Student</h2>
            <p>
                No matter your level of study, you’ll find an online tutor for you. 
                students can connect with the best experienced teachers. You’ve come to the right place to 
                find the best tutors. Our online tutors are ready to give you the help you need.
            </p>
        </div>
    </div>
</section>
<!-- Section2 -->
<section class="Class second" id="Class">
    <div class="center-text">
        <h5>Parents</h5>
        <h2>Parents</h2>
    </div>
    <div class="SecondClass">
        <div class="classImg">
            <img src="~/imgs/Student2.jpg" alt="first img">
        </div>
        <div class="classText">
            <h6>Best Online Learning Platform</h6>
            <h2>Parents</h2>
            <p>
                Give your child the study help they need, while saving the time and stress it costs to be the tutor yourself. 
                Use Skooli to connect your child with a professional teacher from anywhere.
            </p>
        </div>
    </div>
</section>
<!-- Section3 -->
@* <section class="Class" id="Class">
    <div class="center-text">
        <h5>Section 3</h5>
        <h2>Section 3</h2>
    </div>
    <div class="ThirdClass">
        <div class="classImg">
            <img src=".~/imgs/Student3.jpg" alt="first img">
        </div>
        <div class="classText">
            <h6>Best Online Learning Platform</h6>
            <h2>Student</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis natus quis cum, nesciunt doloribus
                nemo officia quae placeat vero ullam dicta voluptatem qui rerum velit ut maiores impedit corporis
                nisi!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis natus quis cum, nesciunt doloribus
                nemo officia quae placeat vero ullam dicta voluptatem qui rerum velit ut maiores impedit corporis
                nisi!
            </p>
        </div>
    </div>
</section> *@