@model AgeViewModel

@{
    Layout = "~/Views/Shared/AdminDashboard.cshtml";
}

@{
    ViewData["Title"] = "Edit Age";
}
<link rel="stylesheet" href="~/css/Components.css" asp-append-version="true" />

<!-- Start of Form -->
<form asp-action="EditAge" method="post" enctype="multipart/form-data" class="formSection">
    @Html.AntiForgeryToken()

    <!-- Hidden field for CategoryId -->
    <input type="hidden" asp-for="AgeId" />

    <div class="main-title">Edit Category</div>
    <div class="mb-3">
        <label asp-for="AgeFromTO" class="form-label">Age Name</label>
        <input type="text" class="form-control" id="AgeFromTO" asp-for="AgeFromTO" placeholder="Age Name">
        <span asp-validation-for="AgeFromTO" class="text-danger"></span>
    </div>
    <div class="d-grid gap-2">
        <input type="submit" class="btn btn-primary" value="Save Changes">
    </div>
</form>
<!-- end -->
@if (TempData["Error"] != null)
{
    <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body">
                @TempData["Error"]
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
}
