@using ZA_PLACE.Models
@model IEnumerable<Assignment>

@{
    Layout = "~/Views/Shared/AdminDashboard.cshtml";
    ViewData["Title"] = "Announcement";
}
<link rel="stylesheet" href="~/css/Components.css" asp-append-version="true" />

@foreach (var item in Model)
{
    <div class="card m-3" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@item.AssignmentName</h5>
            <h6 class="card-subtitle mb-2 text-muted">@item.AssignmentDueDate</h6>
            <p class="card-text">@item.AssignmentDescription</p>
            <a href="@item.AssignmentLink" class="card-link">Assignment Link</a>
        </div>
    </div>
}